*,
*::before,
*::after{
    box-sizing: border-box;
}
h3{
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color:$light-green;
}
.grid-container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

}

.col{
    border: 1px solid $dark-brown;
    .photo-article{
        padding: 40px;
    }
    .page-title{
        text-transform: uppercase;
    }
}