/* mixin usage */
/*--------------------------------
	Responsive ratio
	Used for creating scalable elements that maintain the same ratio
	example:
	.element {
		@include responsive-ratio(400, 300);
	}
*/
@font-face {
  font-family: "old_standard";
  src: url("../../fonts/oldstandardtt-regular-demo.html");
  src: url("../../fonts/oldstandardtt-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/oldstandardtt-regular-webfont.woff2") format("woff2"), url("../../fonts/oldstandardtt-regular-webfont.woff") format("woff"), url("../../fonts/oldstandardtt-regular-webfont.ttf") format("truetype"), url("../../fonts/oldstandardtt-regular-webfont.svg#old_standard_ttregular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("../../fonts/icomoon.eot?9sfdyh");
  src: url("../../fonts/icomoon.eot?9sfdyh#iefix") format("embedded-opentype"), url("../../fonts/icomoon.ttf?9sfdyh") format("truetype"), url("../../fonts/icomoon.woff?9sfdyh") format("woff"), url("../../fonts/icomoon.svg?9sfdyh#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e900";
}

.icon-half-circle:before {
  content: "\e901";
}

.icon-half-square:before {
  content: "\e902";
}

.icon-instagram:before {
  content: "\e903";
}

.icon-linkedin:before {
  content: "\e904";
}

.icon-pentagon:before {
  content: "\e905";
}

.icon-square:before {
  content: "\e906";
}

.icon-stroke-circle:before {
  content: "\e907";
}

.icon-triangle:before {
  content: "\e908";
}

.icon-twitter:before {
  content: "\e909";
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "old_standard";
  font-size: 11px;
  font-weight: 400;
  line-height: 26px;
  color: #ACA592;
  background-color: #181511;
}

h1 {
  margin: 0 0 35px;
  font-weight: 400;
  font-size: 70px;
  line-height: 0px;
  color: #fff;
}
@media (min-width: 768px) {
  h1 {
    font-size: 50px;
  }
}

h2 {
  margin: 0 0 60px;
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  color: #FFAE2B;
}
@media (min-width: 768px) {
  h2 {
    font-size: 40px;
  }
}

h3 {
  margin: 0 0 10px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #FFAE2B;
}
@media (min-width: 768px) {
  h3 {
    font-size: 20px;
  }
}

.pseudo-title {
  margin: 0 0 10px;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  color: #ACA592;
}
@media (min-width: 768px) {
  .pseudo-title {
    font-size: 11px;
  }
}

.page-title {
  margin: 0 0 41px;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 2px;
  text-align: center;
  color: #fff;
}
@media (min-width: 768px) {
  .page-title {
    font-size: 12px;
  }
}

span {
  font-size: 15px;
  line-height: 26px;
  color: #ACA592;
}

p {
  margin: 0 0 79px;
}
@media (min-width: 768px) {
  p {
    margin: 0 0 30px;
  }
}

.subscribe-text {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #ACA592;
}
@media (min-width: 768px) {
  .subscribe-text {
    font-size: 12px;
  }
  .subscribe-text a {
    color: #FFAE2B;
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1200px;
}

a {
  text-decoration: none;
}

li {
  text-decoration: none;
  list-style: none;
}

.btn {
  -webkit-transition: all 0.3s ease, ease-out 0.3s ease, 0.3s 0.3s ease;
  transition: all 0.3s ease, ease-out 0.3s ease, 0.3s 0.3s ease;
  display: inline-block;
  padding: 15px 25px;
  background-color: transparent;
  border: 1px solid #FFAE2B;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #FFAE2B;
  text-decoration: none;
}
.btn:hover {
  background-color: #FFAE2B;
  color: #181511;
  border-style: none;
}
.btn .btn-gold {
  padding: 14px 24px;
  background-color: #FFAE2B;
  color: #181511;
  border-style: none;
}
.btn .btn-gold:hover {
  background-color: transparent;
  color: #FFAE2B;
  border: 1px solid #181511;
}

.img {
  display: block;
  max-width: 100%;
}
@media (min-width: 768px) {
  .img {
    display: inline-block;
  }
}

.grid-container {
  --auto-grid-min-size: 256px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 20px;
}

.footer .container {
  border-top: 1px solid #4B4136;
  border-width: 1200px;
  padding: 0 0 25px;
}

.header {
  position: relative;
}

.container-header {
  padding: 25px 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.logo-link {
  margin-right: auto;
  padding-top: 0;
}

.logo-holder {
  padding-top: 15px;
}

.nav-holder {
  -webkit-transition: opacity 0.4s ease, visibility 0.4s ease;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  top: 100%;
  right: 0;
  left: 0;
  background-color: #181511;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  min-height: 500px;
}
@media (min-width: 768px) {
  .nav-holder {
    min-height: 100%;
    position: static;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0;
    margin: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    opacity: 1;
    visibility: visible;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: calc(100% - 200px);
  }
}
.nav-holder.active {
  opacity: 1;
  visibility: visible;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
}

.nav-item {
  padding: 0 15px;
  text-align: center;
}

.nav {
  padding: 0 20px;
  width: 80%;
}

.nav-link {
  font-family: "old_standard";
  color: #ACA592;
  font-size: 11px;
  padding: 20px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: opacity ease-in-out 0.3s;
  transition: opacity ease-in-out 0.3s;
}
.nav-link:hover {
  opacity: 0.7;
  color: #FFAE2B;
}

.text-btn {
  font-family: "old_standard";
  color: #FFAE2B;
  font-size: 11px;
}
.text-btn:hover {
  color: #181511;
}

.nav-opener {
  background-color: transparent;
  border: none;
  outline: none;
  position: relative;
  width: 30px;
  height: 25px;
  margin-left: auto;
}
@media (min-width: 768px) {
  .nav-opener {
    display: none;
  }
}
.nav-opener.active .mobile-header {
  opacity: 0;
  visibility: hidden;
}
.nav-opener.active::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 47%;
}
.nav-opener.active::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 50%;
}
.nav-opener .mobile-header, .nav-opener::before, .nav-opener::after {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #fff;
  left: 0;
}
.nav-opener::before {
  top: 0;
}
.nav-opener::after {
  bottom: 0;
}
.nav-opener .mobile-header {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
/*# sourceMappingURL=main.css.map */