.follow-section {
  padding: 21px 0;
  border-top: 1px solid #4b4136;
  border-bottom: 1px solid #4b4136;
  .row {
    @include media(">=1201px") {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 -1px;
    }
    .col {
      width: 217px;
      height: 240px;
      margin: 0 auto 40px;

      @include media(">=1201px") {
        margin: 0 1px;
      }
      &:last-child {
        margin: 0 auto;
        @include media(">=1201px") {
          margin: 0 1px;
        }
      }

      .insta-link {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
      .icon-instagram {
        position: absolute;
        font-size: 50px;
        color: white;
        top: -33px;
        left: 50%;
        transform: translateX(-50%);
      }
      .content-holder {
        position: relative;
        width: 100%;
        height: 100%;
        .btn {
          position: absolute;
          z-index: 2;
          background: $gold;
          color: #181511;
          left: 50%;
          transform: translateX(-50%);
          bottom: 60px;
        }
        .icon-instagram {
          font-size: 200px;
          color: rgba(255, 255, 255, 0.19);
          z-index: 1;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        h2 {
          position: absolute;
          top: 40px;
          left: 50%;
          transform: translateX(-50%);
          z-index: 2;
          font-size: 25px;
          line-height: 50px;
          margin: 0;
          @include media(">=1201px") {
            font-size: 40px;
          }
        }
      }
    }
  }
}
