.follow-section {
  padding: 21px 0;
  border-top: 1px solid #4b4136;
  border-bottom: 1px solid #4b4136;

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .col {
    width: 50%;
    position: relative;
    @include media(">=768px") {
      width: 20%;
      min-height: 240px;
    }
    .insta-link {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 217px;
      min-height: 240px;
      background-size: contain;
    }
    .icon-instagram {
      position: absolute;
      top: -33px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 50px;
      color: white;
    }
  }

  .col-follow {
    width: 100%;
    min-width: 217px;
    min-height: 240px;
    position: relative;
    @include media(">=768px") {
      width: 20%;
      min-height: 240px;
    }
    .icon-instagram {
      position: absolute;
      font-size: 200px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: rgba(255, 255, 255, 0.19);
    }
    .btn-holder {
      text-align: center;
    }
    .btn {
      background-color: $gold;
      color: $light-black;
    }

    h3 {
      text-align: center;
      padding: 40px 0;
      font-weight: 400;
      font-size: 40px;
      line-height: 50px;
    }
  }
}
