$white: #fff;
$black: #000;
$light-black: #181511;
$gold: #FFAE2B;
$light-green: #ACA592;
$dark-green: rgba(255, 255, 255, 0.19);
$brown: #54493E;
$dark-brown: #4B4136;

$base-font-size: 11px;

$font-family: 'old_standard';
$icon-font-family: 'icomoon';